.lsp
.clj-kondo/.cache
.cpcache
.nrepl-port
.calva
demo/log/*.txt
demo/log/*.log
blotter/target
blotter/test/test-db
blotter/test/asset-db
demo/trade-db
demo/trade-db-oms-server
.gorilla
.flowy
blotter-cli/target
blotter/.clj-kondo/.cache
demo/msg.log
demo/asset-db