[{:account/id 3
  :asset "QQQ"
  :side :buy
  :order-type :market
  :qty 5000.0M}
 {:account/id 3
  :asset "QQQ"
  :side :buy
  :order-type :market
  :qty 5000.0M}
 {:account/id 3
  :asset "QQQ"
  :side :sell
  :order-type :market
  :qty 3000.0M}
 {:account/id 3
  :asset "QQQ"
  :side :sell
  :order-type :market
  :qty 3000.0M}]
