{
 :timbre/clj {:min-level [[#{"*"} :info]]
              :appenders {:default {:type :console-color}
                          :file {:type :file
                                 :fname "log-stresstest/app.log"}}}
 
 :db {:dir "stresstest-db"}

 :db-seed {:accounts-file "demo-accounts.edn"
           :assets-file "demo-assets.edn"
           :lists-dir "demo-lists"}

 :oms-server {:ns-require [fix-engine.blotter.account
                           quanta.bybit.blotter.account
                           quanta.market-sim.broker-paper]
              :transaction-log-file "log-stresstest/oms-server-transaction.txt"
              ;:transaction-log-file nil
              :account-log-dir "log-stresstest/oms-account"
              ;:account-log-dir nil
              :validate? false
              :tag? true
              :db-enabled true
              :calculate-ui-views false
              :calculate-trading-state-trader false
              ; trading state printer (prints wo and op to logfile)
              :trading-state-printer-enabled false
              :trading-state-log-file "log-stresstest/oms-server-trading-state.txt"
              :trading-state-print-interval-ms 15000}
 
 :quote-manager {:quote-accounts-file "demo-quote-accounts.edn"
                 :account-log-dir "log-stresstest/quote"
                 :ns-require [quanta.market-sim.quote-random
                              fix-engine.quote.account
                              quanta.bybit.quote.account]}}
