{:deps {http-kit/http-kit {:mvn/version "2.8.0"}}
 :paths ["src"]
 :tasks
 {:requires ([org.httpkit.client :as http]
             [quanta.blotter.cli.client :as b])
  client {:doc "Run the WebSocket client"
          :task (b/start-client)}}}