{:paths ["src"]
 :deps {org.clojure/clojure    {:mvn/version "1.11.1"}
        missionary/missionary {:mvn/version "b.47"}
        org.pinkgorilla/clj-service-flowy {:mvn/version "0.2.51"}}
 :aliases
 {:app {:main-opts ["-m" "quanta.blotter.cli.server"]}}

 ;
}