{:deps {http-kit/http-kit {:mvn/version "2.8.0"}
        io.github.clojure-quant/blotter-cli {:local/root "../blotter-cli" :deps/manifest :deps}
        io.github.clojure-quant/blotter {:local/root "../blotter"}
        io.github.timokramer/charm.clj {:git/tag "v0.1.64" :git/sha "e5120a9"}
        }
 :paths ["src"]
 :tasks
 {:requires ([org.httpkit.client :as http]
             [quanta.blotter.cli.blotter :as blotter]
             [quanta.blotter.cli.send :as send]
             [quanta.blotter.cli.cookie :as cookie]
             [quanta.blotter.cli.test-order :as test-order])
  client {:doc "Run the blotter TUI client"
          :task (blotter/start!)}
  send-orders {:doc "Send orders from orderlist/<name>.edn (list available names when called with no args)"
               :task (send/send-orders! (first *command-line-args*))}
  cookie {:doc "RPC smoke test: call demo.fortune-cookie/get-cookie and print result"
          :task (cookie/cookie!)}
  cookie-poller {:doc "Print a cookie after connect, then every 120s over the websocket"
                 :task (cookie/cookie-poller!)}
  test-order {:doc "RPC smoke test: call demo.oms-server/send-test-order and print result"
              :task (test-order/test-order!)}}}