{:paths ["src" "resources"]
 :deps {org.clojure/clojure    {:mvn/version "1.11.1"}
        io.github.clojure-quant/blotter {:local/root "../blotter" :deps/manifest :deps}
        io.github.clojure-quant/blotter-cli {:local/root "../blotter-cli" :deps/manifest :deps}
        }
 :aliases
 {:nrepl {:extra-deps {nrepl/nrepl {:mvn/version "0.9.0"}
                       cider/cider-nrepl {:mvn/version "0.28.3"}}
          :main-opts  ["-m" "nrepl.cmdline"]}
  
  :cli-quote-print {:exec-fn demo.cli-quote-print/start-cli}
  :cli-trade {:exec-fn demo.cli-trade/start-cli}

  :cli-server {:main-opts ["-m" "demo.oms-server"]}
  :verify-multi-client {:main-opts ["-m" "demo.verify-multi-client"]}

  :position-pl-demo {:exec-fn demo.position-pl/run-demo!}
  :flow-pusher-demo {:exec-fn demo.flow-pusher/run-demo!}
  

;
  }}
