{:paths ["src" "resources"]
 :deps {org.clojure/clojure    {:mvn/version "1.11.1"} 
        io.github.clojure-quant/blotter {:local/root "../blotter" :deps/manifest :deps}
        io.github.clojure-quant/blotter-cli {:local/root "../blotter-cli" :deps/manifest :deps}
        io.github.clojure-quant/fix-engine {:mvn/version "0.1.75"}
        io.github.clojure-quant/quanta-bybit {:mvn/version "0.1.11"}
        }
 :aliases
 {:nrepl {:extra-deps {nrepl/nrepl {:mvn/version "0.9.0"}
                       cider/cider-nrepl {:mvn/version "0.28.3"}}
          :main-opts  ["-m" "nrepl.cmdline"]}
  
  ;; quote
  :cli-quote-print {:exec-fn demo.cli-quote-print/start-cli}
  :cli-quote-api {:exec-fn demo.cli-quote-api/start-cli}
  :cli-quote-list {:exec-fn demo.cli-quote-list/start-cli}
  :cli-asset-list-print {:exec-fn demo.cli-asset-list-print/start-cli}
  :cli-quote-snapshot {:exec-fn demo.cli-quote-snapshot/start-cli}
  
  ;; trade
  :print-wo-op-demo {:exec-fn demo.print-wo-op/run-demo!}
  :cli-server {:extra-deps {org.pinkgorilla/modular {:mvn/version "0.5.81"}}
               :exec-fn modular.system/start!
               :exec-args {:config ["config.edn"]
                           :services "services.edn"
                           :profile "default"
                           :version "prod1"}}

  :stresstest {:extra-deps {org.pinkgorilla/modular {:mvn/version "0.5.81"}}
               :exec-fn modular.system/start!
               :exec-args {:config ["config-stresstest.edn"]
                           :services "services-stresstest.edn"
                           :profile "default"
                           :version "prod1"
                           :run demo.stresstest/run}}

  :position-pl-demo {:exec-fn demo.position-pl/run-demo!}
  :flow-pusher-demo {:exec-fn demo.flow-pusher/run-demo!}

  :backoffice {:exec-fn demo.backoffice/print-trades!}

  :lint {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2026.05.25"}}
         :main-opts ["-m" "clj-kondo.main" "--lint" "src" "deps.edn" "--fail-level" "error"]}

;
  }}
